* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

body {
  background-color: #020203;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  line-height: 4.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0px 1.6rem;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.btn-primary {
  background-color: #00AEFF;
  border-color: #00AEFF;
}
.btn-primary:hover {
  background-color: #61CDFF;
  border-color: transparent;
}
.btn-outline {
  border-color: #FFFFFF;
}
.btn-outline:hover {
  background-color: #FFFFFF;
  color: #0B0D12;
  border-color: transparent;
}

.game-card {
  display: block;
  width: 100%;
  max-width: 28rem;
}
.game-card:hover .game-card-image img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.game-card-image {
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  height: 38.3rem;
  margin-bottom: 2.4rem;
}
.game-card-image img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.game-card-info .title {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #e5e5e5;
  margin-bottom: 0.4rem;
}
.game-card-info .category-name {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #e5e5e5;
  opacity: 0.8;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 9.6rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
  gap: 11.2rem;
}
.header-brand .brand {
  position: relative;
}
.header-brand .brand::after {
  content: "";
  width: 4.3rem;
  border-bottom: 2px solid #00AEFF;
  position: absolute;
  left: 0;
  bottom: -2.9rem;
}
.header-brand nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}
.header-brand nav ul li:not(:first-child) {
  margin-left: 3.4rem;
}
.header-brand nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
  gap: 1.4rem;
}
.header-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.6rem;
}

.s-hero {
  position: relative;
  width: 100%;
}
.s-hero .slider-thumbnails {
  position: absolute;
  z-index: 10;
  top: 24.1rem;
  left: 1.2rem;
  height: 32rem;
}
.s-hero .slider-thumbnails .swiper-wrapper .swiper-slide {
  width: 48px;
  height: 48px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.s-hero .slider-thumbnails .swiper-wrapper .swiper-slide.disabled {
  pointer-events: none;
}
.s-hero .slider-thumbnails .swiper-wrapper .swiper-slide-thumb-active {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.s-hero .slider-main {
  width: 100%;
  height: 73.6rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide {
  padding-top: 20.7rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-content {
  width: 100%;
  max-width: 56.2rem;
  margin-left: 22.3rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-content h2 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 110.2%;
  margin-bottom: 1.6rem;
  color: #FFFFFF;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-content p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: -0.005em;
  margin-bottom: 3.2rem;
  color: #FFFFFF;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-content .btn {
  padding: 0 3.8rem;
  line-height: 5.2rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features {
  width: 100%;
  max-width: 29.2rem;
  margin-top: -3.4rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .slider-brand {
  width: 100%;
  max-width: 28rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 8.6rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .slider-video {
  width: 100%;
  max-width: 28rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features span {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: right;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video {
  width: 100%;
  height: 15.8rem;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .thumb.bg-video {
  opacity: 1;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .thumb.bg-video__hover {
  opacity: 0;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .thumb:hover.bg-video {
  opacity: 0;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .thumb:hover.bg-video__hover {
  opacity: 1;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide .slider-features .btn-video .icon {
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86));
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide.slide-01 {
  background: url("./../images/banners/banner-slide-01.jpg") no-repeat center center;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide.slide-02 {
  background: url("./../images/banners/banner-slide-02.jpg") no-repeat center center;
}
.s-hero .slider-main .swiper-wrapper .swiper-slide.slide-03 {
  background: url("./../images/banners/banner-slide-03.jpg") no-repeat center center;
}